{% extends 'shared/base.html' %}


{% block content %}
    <div class="container">
        <div class="d-flex">
            <div>
                <img src="" class="w-50 rounded mx-auto d-block">
            </div>
            <div>
                <div>
                    <h5><b>Title:</b> {{ homework.title }}</h5>
                    <h5><b>Student:</b> {{ homework.student }} (User: {{ homework.student.user }})</h5>
                    <h5><b>Teacher:</b> {{ homework.teacher }} (User: {{ homework.teacher.user }})</h5>
                    <h5><b>Homework file:</b> {{ homework.upload }}</h5>
                    <h5><b>Score:</b> {{ homework.score }}</h5>
                    <h5><b>Status:</b> {{ homework.status }}</h5>
                </div>

                <div>
                    {% if student_owner %}
                        <a href="{% url 'homework_edit' homework.id %}" class="btn btn-success">Edit</a>
                    {% endif %}
                    {% if assigned_teacher %}
                        <a href="{% url 'homework_check' homework.id %}" class="btn btn-success">Check homework</a>
                        <a href="{% url 'homework_delete' homework.id %}" class="btn btn-danger">Delete</a>

                    {% endif %}

                </div>
                <p></p>

            </div>
        </div>
        <div class="d-block" style="background-color: #f1e3e3; padding:2%">
            {% if comments %}
                {% for comment in comments %}
                    <div class="box">
                        <h5><em><b>{{ comment.user }}: </b> {{ comment.comment }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>There are no comments for this homework. </h3>
                </div>
            {% endif %}
            <div class="box">
                <form method="post" action="{% url 'homework_comment' homework.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                </form>
            </div>
        </div>


    </div>
{% endblock %}