{% extends 'shared/base.html'%}
{% load static %}

{% block content %}

    <div class="jumbotron parent">
        <img style="width: 100%"
             src="{% static 'images/landingBackground.jpg' %}"
             alt="">
        <div class="absolute">
            <h1 class="display-4">Welcome to Homework Diary</h1>
            <p class="lead">You could make it easy </p>
            <hr class="my-4">
            <div class="inner cover">
                <h1 class="cover-heading"></h1>
                <div class="row">
                    {% if not user.is_authenticated %}
                        <div class="col-lg-6">
                        <p class="lead">Already have an account? <br><a href="{% url 'login user' %}" class="btn btn-lg btn-secondary">Login</a></p>
                    </div>
                        <div class="col-lg-6">
                        <p class="lead"> Do not have an account? <br>
                            <a href="{%   url 'register user' %}" class="btn btn-lg btn-secondary">Register as student</a>
                            <a href="{% url 'register teacher' %}" class="btn btn-lg btn-secondary">Register as teacher</a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}